<div class="col-md-12 form">
  <div class="panel panel-info">
    <div class="panel-heading">
    </div>
      <div class="panel-body">
        <%= simple_form_for @post, remote: true do |f| %>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :option_a_title, :required => false, label: 'Option A', html: { class: 'control-label' } %>
                  <div class="row">
                    <div class="col-md-4">
                      <%= f.input :image, label: 'Upload an Image', as: :file %>
                    </div>
                    <div class="col-md-2">
                      <strong>OR</strong>
                    </div>
                    <div class="col-md-6">
                      <%=f.input :image_url, label: 'Link an Image'%>
                    </div>
                  </div>
               </div>
              <div class="col-md-6">
                <%= f.input :option_b_title, :required => false, label: 'Option B', html: { class: 'control-label' } %>
               <div class="row">
                 <div class="col-md-4">
                   <%= f.input :image, label: 'Upload an Image', as: :file %>
                 </div>
                 <div class="col-md-2">
                   <strong>OR</strong>
                 </div>
                 <div class="col-md-6">
                   <%=f.input :image_url, label: 'Link an Image' %>
                 </div>
               </div>
            </div>
              </div>
            </div>
          <div class="form-group">
            <%= f.input :explanation, as: :text, html: { class: 'control-label' }, label: 'Optional: Write an explanation' %>
          </div>
          <div class="form-group">
            <%= f.button :submit %>
          </div>
        </div>
        <% end %>
      </div>
  </div>
</div>
